body{
    margin: 0px;
    

}

.topnav{
    height: 50px;
    background-color: lightblue;
    text-align: center;
    text-align: right;
    padding-top: 20px;
}
.topnav > img{
    width: 28px;
    margin-right: 350px;
    border-radius: 50%;
}

a{
    font-size: 22px; 
    text-decoration: none;
    padding: 20px;
    color: black; 
   
}
a:hover{
    color: white;
}


details{
    background-color: #2424c3;
    color: #e5e5ea;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 40px;
    margin-top: 24px;
  }
  
details:active{
    background-color: white;
  }
 

 input {
   
    border-radius: 5px;
    width: 255px;
    font-size: 20px;
   
  }
  input[type='submit']{
    margin-left: 250px;
    border-radius: 10px;
    width: 116px;
  }
 

  .employeeForm{
    background-color: white;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: flex-start; 

  
  }

  .vehicleForm{
    background-color: white;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: flex-start; 

  
  }

  .vehicleForm > form > div{
    margin: 40px;
  }

  select{
    border-radius: 5px;
    width: 255px;
    font-size: 20px;
  }


  .employeeForm > form > div{
    margin: 40px;
  }

  label {
    display:  inline-block;
    margin: 10px;
    text-align: right;
    font-size: 25px;
}


#feedbackForm{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQytjnD__ZxGg0Lx7AoypVle9wIP5M1Nbzgg&s'); 
    background-repeat: no-repeat;
    background-size: cover;
}


#feedbackForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
#feedbackForm > form > div > label{
     
    margin: 30px;
}

#cards{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
#cards > div{
    width: 350px;
    margin: 8px;
}

#cycle{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
}
.money{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 50%;
    align-items: center;
    width: 120px;
}
.purchaseNow{
    margin-bottom: 30px;
    background-color: lightblue;
    border-radius: 6px;
}
#motorCycle{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
}

#fourWheeler{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
}




