/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

/* Navbar Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #ccc;
}

nav img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Cover Image Styles */
#cover-image img {
    background-size: cover;
    align-items: center;
    width: 100%;
}

#cover-image {
    background-size: cover;
    align-items: center;
    width: 50%;
    height: 50%;
    display: flex;
}

/* Regions Styles */
.region {
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.region h2 {
    margin-top: 0;
}

/* Collapsables */
.collapsible {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: none;
}

.collapsible.collapsed {
    background-color: #333;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: none;
}

.collapsible.collapsed.collapsible-content {
    display: none;
}

.collapsible-header {
    background-color: #444;
    margin-bottom: 10px;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.collapsible-header:hover {
    background-color: #555;
}

.collapsible-content {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

/* Form Field Styles */
/* input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    transition: border-color 0.3s ease;
} */

select {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #fff;
    outline: none;
}

/* Submit Button Styles */
input[type="submit"],
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

/* Employee Section Styles */
#add-employee-img {
    width: 25%;
}

.employee-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.employee-section form {
    width: 70%;
}

.employee-section img {
    margin-right: 30px;
}

/* Vehicle Section Styles */
.vehicle-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vehicle-section form {
    width: 70%;
}

.vehicle-section img {
    width: 25%;
    margin-right: 30px;
}

/* Feedback Section Styles */
.add-feedback {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin: 12px;
}

#give-feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#give-feedback form {
    width: 70%;
}

#give-feedback img {
    width: 25%;
    margin-right: 30px;
}

/* Pricing Section Styles */
#pricing {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin: 12px;
}

#pricing-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricing-box {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 33%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-box h3 {
    margin-top: 0;
}

.pricing-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 20px auto;
}

.pricing-box li {
    list-style: none;
}

.pricing-box ul {
    width: 132px;
}

/* Password Strength Indicators */
input[type="password"].weak {
    border-color: red;
}

input[type="password"].normal {
    border-color: orange;
}

input[type="password"].strong {
    border-color: green;
}

/* Dynamic Employee Field */
#employee-full-name,
#employee-email,
#employee-password,
#employee-confirm-password,
#employee-contact-number {
    width: 400px;
    display: block;
    padding: 10px;
    margin: 30px 30px 0px 0px;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    transition: border-color 0.3s ease;
}

#employee-gender {
    width: 180%;
    padding: 10px;
    margin: 30px 30px 0px 0px;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    transition: border-color 0.3s ease;
}

#employee-full-name-error,
#employee-gender-error,
#employee-email-error,
#employee-password-error,
#employee-confirm-password-error,
#employee-contact-number-error {
    margin-top: 30px;
}

#next-button {
    margin-top: 30px;
}

#vehicle-brand,
#vehicle-model,
#vehicle-number,
#vehicle-type {
    width: 400px;
    display: block;
    padding: 10px;
    margin: 30px 30px 0px 0px;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    transition: border-color 0.3s ease;
}

#vehicle-brand-error,
#vehicle-model-error,
#vehicle-type-error,
#vehicle-number-error {
    margin-top: 30px;
}

.pricing-box.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.pricing-box.disabled button {
    cursor: not-allowed;
    background-color: #ccc;
}

#vehicle-section,
#pricing {
    display: none;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #333;
    color: #ddd;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}